@use '../../styles/variables' as *;

.navWrapper {
    width: 100%;
    background-color: #F6F6F6;
    border-bottom: 0.4px solid #dddddd;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;


    &_logo {
        display: flex;
        align-items: center;

        .logo {

            width: 200px;
        }
    }

    &_links {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &_link {
        text-decoration: none;
        color: $primary;
        font-size: 1rem;
        font-family: $font-family;
        font-weight: 600;
        transition: color 0.3s ease-in-out;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: $highlight;
            transition: width 0.3s ease;
        }

        &_group {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            padding: 1rem;
        }

        &:hover {
            color: $primary;

            &:after {
                width: 100%;
            }
        }


    }

    &_cart {
        justify-self: end;

        .cart_link {
            color: $primary;
            transition: color 0.3s ease;

            &:hover {
                color: $highlight;
            }

        }

        .cart_icon {
            font-size: 1.9rem;
        }
    }
}


.cart_container {
    position: relative;
}

.cart_count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: $highlight;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
}