@use '../../styles/variables' as *;



h3 {
    color: $primary;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}


.payButton {
    padding: 0.75rem 1.5rem;
    border: 2px solid $primary;
    background-color: white;
    color: $primary;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $primary;
        color: white;
    }
}

.submitButton {
    padding: 0.75rem 1.5rem;
    background-color: $tertiary;
    color: $primary;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: translateY(-2px);
        border: 2px solid $primary;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
}